@charset "utf-8";

$card-content-padding: 0.5rem;
$card-background-color: hsl(0, 0%, 86%);
$success: #3EBFC4;
$dimensions: 16 24 32 48 64 96 128 630;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/bulma-tooltip/src/sass/index.sass";
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');